body{
    background-color: blue;
}

h1{
    color: blue;
}

.friend{
    background-color: dimgrey;
    border: 2px;
    border-style: inset;
    border-radius: 3px;
    border-width: 75%;
    color: white;
    padding: 1em;
    box-shadow: 2px;
}

h3{
texts
}